body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Charts legend font-size */
.recharts-legend-item { font-size: 1.28em; }

::-webkit-scrollbar {
  background-color: #202022;
}

::-webkit-scrollbar-corner {
  background-color: #202022;
}

::-webkit-scrollbar-thumb {
  border: 3px solid #202022;
  min-height: 24px;
  border-radius: 8px;
  background-color: #585859;
}